a{
    text-decoration: none !important;
    color: white;
}
a:hover{
    color: white !important;
}
.navbar_sp{
    font-size: 5vh;
}
body{
    margin-top: 15%;
    margin-bottom: 10%;
}

.card{
    height: 15vw;
    width: 21%;
    margin-right: 0%;
    margin-left:3%;
    background: wheat;
    text-align: center;
    color: white;
    display: inline-block;
    padding-top: 4%;
    font-size: 3.5vw;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: #17a2b8;
}
.card:hover{
    background-color: #6dbfccf7 !important;
}
.animate{
	-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
	-webkit-border-radius:5px;
	-o-transition-property:width,height,-o-transform,background,font-size,opacity;
	-o-transition-duration:1s,1s,1s,1s,1s,1s;
	-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
	-moz-transition-duration:1s,1s,1s,1s,1s,1s;
	transition-property:width,height,transform,background,font-size,opacity;
	transition-duration:1s,1s,1s,1s,1s,1s;
	opacity:1;
}
.animate:hover{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	opacity:1;
	
}
@media (min-width: 320px) and (max-width: 820px){
    body{
        margin-top: 30%;
        margin-bottom: 90px;
    }
    .container{
        width: 85%;
        align-items: center;
    }
    .card{
        width: 80%;
        height: 15vh;
        padding-top: 0%;
        display: flex;
        justify-content: center;
        margin-right: 0%;
        margin-left: 10%;
        margin-bottom: 5%;
        font-size: 4.5vh;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
  
    .navbar_sp{
        font-size: 4vh;
    }
    }