body{
    margin-top: 10%;
    scroll-behavior: smooth;
}
.container{
    width: 95%;
}
.navbar-brand{
padding-left: 2%;
}

a{
    text-decoration: none !important;
}
a .text-light:hover{
    color: white !important;
}
@media (min-width: 320px) and (max-width: 820px){
body{
    margin-top: 25%;
    margin-bottom: 25%
}

.container{
    width: 88%;
}
}