body{
    margin-top: 60px;
    scroll-behavior: smooth;
    margin-bottom: 25%;
}
.first{
    padding-top: 2%;
}
.container{
    width: 90%;
}
.navbar-brand{
padding-left: 2%;
}
.second{
    margin-top:3%;
}
@media (min-width: 320px) and (max-width: 820px){
body{
    margin-top: 65px;
}
.first{
    margin-top:0px;
    padding-top: 10%;
}
.second{
    width: 95%;
    word-wrap: break-word;
    margin-top:3%;
    font-size: 3vw;
    margin-left: 0;
    margin-right: 4vw ;
}
.Date_sp{
    word-wrap: break-word;
}

.third{
    width:95%;
    
}
}